*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: goldenrod;
}
.hed{
    text-align: center;
}

#snakes{
    display: none;
}
#turtles{
    display: none;
}
#insects{
    display: none;
}